altair
appdirs
argcomplete
asttokens
attrs
bcrypt
blinker
bytecode
cachetools
certifi
chardet
click
colorama
comm
configobj
contourpy
coverage
cryptography
cssselect
cycler
debugpy
decorator
defer
defusedxml
distlib
distro
entrypoints
executing
fasteners
filelock
fs
gitdb
html5lib
httplib2
idna
implicit
iniconfig
ipykernel
jedi
joblib
jsonpatch
jsonpointer
jsonschema
jupyter_client
jupyter_core
launchpadlib
lazr.restfulclient
lazr.uri
lxml
lz4
matplotlib
mdurl
mlxtend
monotonic
mpmath
narwhals
netaddr
netifaces
numexpr
numpy<2
oauthlib
olefile
openpyxl
packaging
pandas
paramiko
parso
patsy
pexpect
pipx
platformdirs
pluggy
psutil
ptyprocess
py
pyarrow
pydeck
pydevd
pyparsing
pyrsistent
pytest
pytz
requests
rich
seaborn
scikit-learn
scikit-surprise
SciPy
setuptools
simplejson
six
smmap
streamlit
sympy
tables
tenacity
threadpoolctl
toml
tornado
tqdm
traitlets
typing_extensions
ufoLib2
unicodedata2
urllib3
userpath
virtualenv
wadllib
watchdog
wcwidth
webencodings
wheel
xdg
